/.vs
*.dll
/InMemoryTaskQueue.Sample/bin
/InMemoryTaskQueue.Sample/obj
/InMemoryTaskQueue.Tests/obj
/InMemoryTaskQueue/obj
/InMemoryTaskQueue.Tests/bin
/InMemoryTaskQueue/bin
/InMemoryTaskQueue/bin
/InMemoryTaskQueue/bin
/InMemoryTaskQueue/bin
/InMemoryTaskQueue/bin
